<template>
  <div>
    <v-card class="mb-5">
      <v-card-title>
        Notice: those are real issues about the library
      </v-card-title>
      <v-card-text>
        If you only want to test how it works, please visit test page
      </v-card-text>
      <v-card-actions>
        <v-btn color="primary" to="/project/test">Visit test page issues</v-btn>
      </v-card-actions>
    </v-card>
    <issues :project-id="22161981"/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Context } from '@nuxt/types';
import Issues from '~/src/components/issues/Issues.vue';

export default Vue.extend({
  name: 'project-main',
  components: { Issues },
  asyncData(ctx: Context) {
    if (!ctx.app.$accessor.user) ctx.error({
      statusCode: 404,
    });
  },
});
</script>

<style scoped>

</style>
