<template>
  <issues :project-id="22162284"/>
</template>

<script lang="ts">
import Vue from 'vue';
import { Context } from '@nuxt/types';
import Issues from '~/src/components/issues/Issues.vue';

export default Vue.extend({
  name: 'project-main',
  components: { Issues },
  asyncData(ctx: Context) {
    if (!ctx.app.$accessor.anon && !ctx.app.$accessor.user) ctx.error({
      statusCode: 404,
    });
  },
});
</script>

<style scoped>

</style>
