<template>
  <v-card class="issues_list">
    <v-card-title>
      Your issues
    </v-card-title>
    <v-card-text>
      <v-banner v-if="$accessor.anon || !getIssues().length" color="error" dark rounded>
        <template v-if="$accessor.anon">
          You are not allowed to have issues, because you are anonymous. You can only create them.
        </template>
        <template v-else>
          You don't have any created issues for <b>{{ $route.path.split('/')[$route.path.split('/').length - 1] }}</b>
          project yet.
        </template>
      </v-banner>
      <template v-else>
        <v-tabs :value="getIssues(false).length === 0 ? 1 : 0">
          <v-tab :disabled="getIssues(false).length === 0">
            Opened
          </v-tab>
          <v-tab :disabled="getIssues(true).length === 0">
            Closed
          </v-tab>
          <v-tab-item>
            <issue-list-type :issues="getIssues(false)" :per-page="perPage"/>
          </v-tab-item>
          <v-tab-item>
            <issue-list-type :issues="getIssues(true)" :per-page="perPage"/>
          </v-tab-item>
        </v-tabs>
      </template>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import { IIssue } from '~/src/types';
import IssueListType from '~/src/components/issues/IssuesListType.vue';

export default Vue.extend({
  name: 'IssuesList',
  components: { IssueListType },
  data() {
    return {
      perPage: 5,
    };
  },
  props: {
    projectId: {
      type: Number,
      required: true,
    },
  },
  methods: {
    getIssues(closed?: boolean): IIssue[] {
      return this.$accessor.user?.issues.filter(x => x.projectId === this.projectId && (typeof closed === 'boolean'
        ? x.isClosed === closed
        : true)) || [];
    },
  },
});
</script>

<style scoped>

</style>
