<template>
  <div class="issues">
    <issues-list :project-id="projectId"/>
    <issues-create :project-id="projectId"/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import IssuesList from '~/src/components/issues/IssuesList.vue';
import IssuesCreate from '~/src/components/issues/IssuesCreate.vue';

export default Vue.extend({
  name: 'Issues',
  components: { IssuesCreate, IssuesList },
  props: {
    projectId: {
      type: Number,
      required: true,
    },
  },
});
</script>

<style scoped>

</style>
