<template>
  <div>
    <v-list>
      <v-list-item v-for="issue in getPagedIssues()" :key="issue.id" :href="issue.url" target="_blank">
        <v-list-item-icon>
          <v-tooltip bottom>
            <template #activator="{on}">
              <v-icon v-on="on" color="primary">
                <template v-if="issue.template === 'issue'">bug_report</template>
                <template v-else-if="issue.template === 'vulnerability'">security</template>
                <template v-else-if="issue.template === 'featureRequest'">color_lens</template>
                <template v-else-if="issue.template === 'other'">bathtub</template>
                <template v-else-if="issue.template === 'exampleWebsite'">desktop_mac</template>
              </v-icon>
            </template>
            <span>
              {{ getTemplate(issue.template).title }}
            </span>
          </v-tooltip>
        </v-list-item-icon>
        <v-list-item-title>
          <template v-if="issue.confidential">
            <v-tooltip bottom>
              <template #activator="{on}">
                <v-icon color="error" v-on="on">
                  https
                </v-icon>
              </template>
              <span>
              This is issue is confidential and hidden from everyone but you and project maintainers.
            </span>
            </v-tooltip>
          </template>
          {{ issue.title }}
          <v-list-item-subtitle>
            Created on {{ new Date(issue.createdAt).toLocaleString() }}.
          </v-list-item-subtitle>
        </v-list-item-title>
      </v-list-item>
    </v-list>
    <v-pagination v-if="issues.length > perPage" v-model="page"
                  :length="Math.ceil( issues.length / perPage)"/>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import { IIssue } from '~/src/types';
import { issuesTemplates } from '~/api/helpers/templates';
import { GICTemplate } from 'gitlab-issues-creator';

export default Vue.extend({
  name: 'IssueListType',
  props: {
    issues: {
      type: Array,
      required: true,
    } as PropOptions<IIssue[]>,
    perPage: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      page: 1,
    };
  },
  methods: {
    getPagedIssues(): IIssue[] {
      const start = (this.page - 1) * this.perPage;
      return this.issues.slice(start, start + this.perPage);
    },
    getTemplate(template: keyof typeof issuesTemplates): GICTemplate | null {
      return issuesTemplates[template] || null;
    },
  },
});
</script>

<style scoped>

</style>
