<template>
  <v-card class="issues_create mt-5">
    <v-card-title>
      Create an issue
    </v-card-title>
    <template v-if="!createdIssue">
      <v-card-text>
        <v-form>
          <v-switch v-for="template in $accessor.templates" :key="template.id"
                    v-model="selectedTemplate" :hint="template.description"
                    :label="template.title" :readonly="template.type === selectedTemplate" :value="template.type" inset
                    persistent-hint
                    @change="text = getTemplate().defaultText"/>
          <template v-if="getTemplate()">
            <h2 class="mt-4">Selected template settings:</h2>
            <ul class="mt-2 mb-4">
              <li v-for="option in getTemplateOptions()" :key="option.title"
                  v-html="`<b>${ option.title }</b>: ${ option.text }`"/>
            </ul>

            <v-alert v-if="isFilesSizeInvalid()" color="error" dark
                     icon="info">
              Your total files size is now more than 10 MegaBytes. Please try compress your files.
            </v-alert>

            <v-text-field :key="selectedTemplate" v-model="title" class="mb-2" :class="{'--has-title': getTemplate().prependTitle}"
                          :rules="required" label="Issue title"
                          outlined>
              <template v-if="getTemplate().prependTitle" #prepend-inner>
                {{ getTemplate().prependTitle }}
              </template>
            </v-text-field>

            <v-textarea class="mb-2" v-model="text" :rows="4" :rules="required" hint="123" label="Issue text" outlined
                        persistent-hint>
              <template #message>
                Please enter your message in
                <a href="https://docs.gitlab.com/ee/user/markdown.html" target="_blank">Gitlab Flavored Markdown</a>
                format
              </template>
            </v-textarea>

            <v-file-input :key="`file-input-${files.length}`" v-model="filesInput" class="mt-2" dense
                          hint="Your max total upload size is 10mb"
                          label="Attach a file"
                          multiple outlined persistent-hint @change="filesAttach"/>

            <v-list v-if="getFilesAvailable().length" dense max-width="50%">
              <v-list-item v-for="file in getFilesAvailable()" :key="file.index" class="mb-2">
                <v-list-item-title>
                  {{ file.name }}. Size: {{ file.size.toFixed(2) }}MB
                  <v-list-item-subtitle>
                    Shortcut: <code>[file-{{ file.index }}]</code>
                  </v-list-item-subtitle>
                  <div class="mt-1">
                    <v-btn color="primary" x-small @click="appendFile(file.index)">Add file to text</v-btn>
                    <v-btn color="error" x-small @click="removeFile(file.index)">Remove file</v-btn>
                  </div>
                </v-list-item-title>
              </v-list-item>
            </v-list>

            <template v-if="selectedTemplate === 'issue' || selectedTemplate === 'exampleWebsite'">
              <v-radio-group v-model="priority" label="Priority"
                             @change="priority < 3 ? confidential = false : undefined">
                <v-radio :value="4" color="error" label="Critical"/>
                <v-radio :value="3" color="warning" label="High"/>
                <v-radio :value="2" color="primary" label="Medium"/>
                <v-radio :value="1" color="green" label="Low"/>
              </v-radio-group>
              <v-checkbox v-if="priority > 2"
                          v-model="confidential"
                          color="error"
                          hint="This issue will be hidden from everyone, except it's author and priveleged users"
                          persistent-hint>
                <template #label>
                  Condifential
                  <v-icon :color="confidential ? 'error' : 'default'" class="ml-2">privacy_tip</v-icon>
                </template>
              </v-checkbox>
            </template>
          </template>
        </v-form>
      </v-card-text>
      <v-card-actions v-if="selectedTemplate" class="mt-4 justify-space-between">
        <v-btn :disabled="loading" color="error" outlined @click="reset()">Reset</v-btn>
        <v-btn :disabled="isDisabled()" :loading="loading" color="primary" @click="submit">Submit issue</v-btn>
      </v-card-actions>
    </template>
    <v-banner v-else color="success" dark>
      Congratulations! Your issue has been created.
      <template v-if="createdIssue.confidential && $accessor.anon">
        <b>Note:</b> You are not able to view this issue, because you are anonymous user.
      </template>
      <template #actions>
        <v-btn small @click="[reset(), createdIssue = null]">Create another one</v-btn>
        <v-btn :href="createdIssue.url" color="primary" target="_blank"
               :disabled="createdIssue.confidential && $accessor.anon">Open it
        </v-btn>
      </template>
    </v-banner>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import { issuesTemplates } from '~/api/helpers/templates';
import { IIssue } from '~/src/types';
import { replaceAll } from '~/src/helpers';
import { GICTemplate } from 'gitlab-issues-creator';

interface Option {
  title: string,
  text: string
}

export default Vue.extend({
  name: 'IssuesCreate',
  data() {
    return {
      title: '',
      text: '',
      confidential: false,
      selectedTemplate: null as keyof typeof issuesTemplates | null,
      files: [] as File[],
      filesInput: [] as File[],
      priority: null as number | null,
      loading: false,
      required: [(value: any) => !!value || 'This field is required'],
      createdIssue: null as null | IIssue,
    };
  },
  props: {
    projectId: {
      type: Number,
      required: true,
    },
  },
  methods: {
    async submit() {
      this.loading = true;

      try {
        const form = new FormData();
        form.append('title', this.title);
        form.append('template', this.selectedTemplate || '');
        form.append('text', this.text);
        form.append('projectId', this.projectId.toString());
        if (this.priority) form.append('priority', this.priority.toString());
        if (this.confidential) form.append('confidential', '1');

        this.files.forEach((file, index) => form.append(`file${ index }`, file));

        const issue = await this.$axios.request({
          url: '/api/issues',
          method: 'POST',
          headers: {
            authorization: `Bearer ${ this.$accessor.token }`,
            'Content-Type': 'multipart/form-data',
          },
          data: form,
          responseType: 'json',
        });

        const newIssue = issue.data.issue;
        if (!newIssue) return this.reset();

        this.createdIssue = newIssue;
        if (this.$accessor.user) {
          this.$accessor.user.issues.unshift(newIssue);
          this.$accessor.SET_USER(this.$accessor.user);
        }
      }
      catch (e) {
        console.error(e);
      }

      this.loading = false;
    },
    reset() {
      this.title = '';
      this.text = '';
      this.selectedTemplate = null;
      this.files = [];
      this.priority = null;
      this.confidential = false;

      this.$forceUpdate();
    },
    isDisabled() {
      return !this.title || !this.text || !this.selectedTemplate || this.isFilesSizeInvalid();
    },
    isFilesSizeInvalid(): boolean {
      return this.files.reduce((sum, val) => val.size + sum, 0) > 1024 * 1024 * 10;
    },
    getFilesAvailable(): { name: string, size: number, index: number }[] {
      return this.files.map((file, index) => ({
        name: file.name,
        size: file.size / (1024 * 1024),
        index,
      }));
    },
    appendFile(index: number) {
      this.text += `  \n[file${ index }]`;
    },
    removeFile(index: number) {
      this.text = replaceAll(this.text, `  \n[file${ index }]`, '');
      this.text = replaceAll(this.text, `\n[file${ index }]`, '');
      this.text = replaceAll(this.text, `[file${ index }]`, '');

      this.files.splice(index, 1);


      for (let i = 0; i < this.files.length; i++) {
        if (i < index) continue;
        this.text = replaceAll(this.text, `[file${ i + 1 }]`, `[file${ i }]`);
      }
    },
    filesAttach(files: File[]) {
      let currentTotal = this.files.length;

      for (const file of files) {
        this.text += `  \n[file${ currentTotal }]`;
        currentTotal++;
        this.files.push(file);
      }

      this.$set(this, 'filesInput', []);
    },
    getTemplate(): GICTemplate | null {
      if (!this.selectedTemplate) return null;
      return issuesTemplates[this.selectedTemplate] || null;
    },
    getTemplateOptions(): Option[] {
      const template = this.getTemplate();
      const options: Option[] = [];
      if (!template) return options;

      for (const [key, value] of Object.entries(template)) {
        if (key === 'prependTitle' && value) options.push({
          title: 'Title before your typed title',
          text: value,
        });

        if (key === 'labelsToAssign') options.push({
          title: 'Labels',
          text: value.map((x: string) => `<code>${ x }</code>`).join(', '),
        });

        if (key === 'confidential' && value) options.push({
          title: 'Confidential',
          text: 'Yes',
        });

        if (key === 'weight' && typeof value === 'number') options.push({
          title: 'Weight',
          text: value.toString(),
        });
      }

      return options;
    },
  },
});
</script>

<style scoped>
.--has-title::v-deep .v-text-field__slot input {
  padding-top: 3px !important;
}

.--has-title::v-deep .v-text-field__slot .v-label {
  top: 15px;
}
</style>
