<template>
  <div>
    <v-card>
      <v-card-title>
        What do you want?
      </v-card-title>
      <v-card-text class="text">
        <v-btn outlined href="https://gitlab.com/gitlab-issues-creator/gitlab-issues-creator/-/blob/master/Readme.md" large>
          <v-icon class="mr-1">info</v-icon>
          Read library's documentation
        </v-btn>
        <v-tooltip bottom>
          <template #activator="{on}">
            <div v-on="$accessor.anon ? on : {}">
              <v-btn outlined :disabled="$accessor.anon || !$accessor.user" class="ml-3" color="primary" large
                     to="/project/main">
                <v-icon class="mr-1">create</v-icon>
                Create issue regarding library
              </v-btn>
            </div>
          </template>
          <span>You must be logged in as Gitlab user to create such issues</span>
        </v-tooltip>
        <v-btn class="ml-3" color="primary" large to="/project/test">
          <v-icon class="mr-1">build</v-icon>
          Test the library
        </v-btn>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'index',
});
</script>

<style scoped>
.text {
  display: flex;
}
</style>
