<template>
  <v-menu offset-y right>
    <template #activator="{on}">
      <v-btn v-on="on" icon>
        <v-icon>
          settings
        </v-icon>
      </v-btn>
    </template>
    <v-list>
      <v-list-item v-for="item in getMenuItems()" :key="item.icon" @click="item.action">
        <v-list-item-icon>
          <v-icon>
            {{ item.icon }}
          </v-icon>
        </v-list-item-icon>
        <v-list-item-title>
          {{ item.text }}
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script lang="ts">
import Vue from 'vue';

interface MenuItem {
  text: string
  icon: string
  show?: boolean
  action: () => any
}

export default Vue.extend({
  name: 'HeaderMenu',
  methods: {
    getMenuItems(): MenuItem[] {
      return [
        {
          text: 'Gitlab project page',
          icon: 'build_circle',
          action: () => {
            document.location.href = 'https://gitlab.com/gitlab-issues-creator';
          },
        },
        {
          text: 'Logout',
          icon: 'exit_to_app',
          show: !!this.$accessor.user || this.$accessor.anon,
          action: this.logout,
        },
      ].filter(x => typeof x.show === 'boolean' ? x.show : true);
    },
    logout() {
      this.$cookies.remove('gic-token');
      location.reload();
    },
  },
});
</script>

<style scoped>

</style>
