<template>
  <v-app>
    <template v-if="isMobile !== null">
      <template v-if="!isMobile">
        <div>
          <v-app-bar class="app-bar" fixed flat>
            <div class="app-bar_list">
              <v-toolbar-title v-if="!$accessor.user && !$accessor.anon">
                Issues Creator homepage
              </v-toolbar-title>
              <v-list-item v-else-if="$accessor.anon">
                <v-list-item-title>
                  Hello there, anonymous!
                </v-list-item-title>
              </v-list-item>
              <v-list-item v-else :href="$accessor.user.gitlab.url" target="_blank">
                <v-list-item-avatar v-if="$accessor.user.gitlab.avatar">
                  <img :src="$accessor.user.gitlab.avatar"/>
                </v-list-item-avatar>
                <v-list-item-title>
                  Hello there, <b>{{ $accessor.user.gitlab.name }}</b>
                </v-list-item-title>
              </v-list-item>
              <v-list-item v-if="$route.path !== '/' && ($accessor.user || $accessor.anon)" to="/">
                Return to homepage
              </v-list-item>
            </div>
            <v-spacer/>
            <header-menu/>
          </v-app-bar>
        </div>
        <v-main>
          <v-container>
            <auth-page v-if="!$accessor.user && !$accessor.anon"/>
            <nuxt v-else/>
          </v-container>
        </v-main>
      </template>
      <v-card v-else>
        <v-card-text>
          <h2 class="mb-2">
            Sorry, mobile version is not supported
          </h2>
          Please view this page from PC version or simply return back to main library documentation
        </v-card-text>
        <v-card-actions>
          <v-btn href="https://gitlab.com/gitlab-issues-creator/gitlab-issues-creator/-/blob/master/Readme.md" large>
            <v-icon>info</v-icon>
            Documentation
          </v-btn>
        </v-card-actions>
      </v-card>
    </template>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import AuthPage from '~/src/components/auth/AuthPage.vue';
import HeaderMenu from '~/src/components/HeaderMenu.vue';

export default Vue.extend({
  name: 'app',
  data() {
    return {
      isMobile: null as boolean | null,
    };
  },
  components: { HeaderMenu, AuthPage },
  beforeMount() {
    this.isMobile = window.innerWidth < 1280;

    setInterval(() => {
      this.isMobile = window.innerWidth < 1280;
    }, 1000);
  },
  mounted() {
    if (this.$route.query.token) this.$router.replace({
      query: {
        token: undefined,
      },
    });
  },
});
</script>

<style scoped>
.app-bar {
  position: sticky !important;
}

.app-bar_list {
  display: flex;
  align-items: center;
}

.app-bar_list > * {
  flex: 1 0 auto;
}
</style>
