<template>
  <div v-show="mount">
    <v-card v-if="!anon">
      <v-card-title>
        Please log in to continue
      </v-card-title>
      <v-card-text>
        <v-btn :href="getHrefLink()" color="#a62e21" dark>Log in using Gitlab</v-btn>
        <v-btn class="ml-2" @click="anon = true">Continue without login</v-btn>
      </v-card-text>
    </v-card>
    <auth-page-anon v-else :gitlab-href="getHrefLink()"/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import AuthPageAnon from '~/src/components/auth/AuthPageAnon.vue';

export default Vue.extend({
  name: 'AuthPage',
  components: { AuthPageAnon },
  data() {
    return {
      mount: false,
      anon: false,
    };
  },
  async mounted() {
    if (!this.$accessor.user) this.mount = true;
  },
  methods: {
    getHrefLink() {
      return `/api/gitlab/auth?state=${ this.$route.path }`;
    },
  },
});
</script>

<style scoped>

</style>
