<template>
  <v-card>
    <v-card-title>
      Anonymous authentication
    </v-card-title>
    <v-card-text>
      <v-alert color="error" dark>
        Are you sure you want to continue anonymously? You will only be able to create issues in test project, and you
        will not be author of these issues.
      </v-alert>
      <v-btn :loading="loading" @click="auth()">Continue as anonymous</v-btn>
      <v-btn :href="gitlabHref" :loading="loading" class="ml-2" color="#a62e21" dark>Log in using Gitlab</v-btn>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'AuthPageAnon',
  props: {
    gitlabHref: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      loading: false,
    };
  },
  methods: {
    async auth() {
      this.loading = true;

      try {
        const { token } = (await this.$axios.post('/api/user/anon', {
          responseType: 'json',
        })).data;

        this.$accessor.SET_TOKEN(token);
        this.$accessor.SET_ANON(true);
        this.$cookies.remove('gic-token');

        this.$cookies.set('gic-token', token, {
          path: '/',
          maxAge: 60 * 60 * 24,
          sameSite: true,
        });

        await this.$router.replace({
          query: {
            token,
          },
        });
        location.reload();
      }
      catch (e) {
        console.error(e);
      }
      this.loading = false;
    },
  },
});
</script>

<style scoped>

</style>
